.hotel-card{
    height: 300 rem;
    border: 1px solid;
    border-radius: 1rem;
    margin:0.5rem 0.2rem;
    padding: 0.7rem;
}
.hotel-card img{
    object-fit: contain;
}
img{
    mix-blend-mode: multiply;
}